global-exclude *.pyc
global-exclude __pycache__

recursive-include acai *.json
recursive-include acai *.py
recursive-include acai *.j2
recursive-include acai *.md
recursive-include acai/ui/dist *

include LICENSE
include README.md

exclude .readthedocs.yml
exclude tox.ini
exclude Makefile
exclude .pylintrc
exclude .pre-commit-config.yaml

prune docs
prune tests
prune dependencies
prune acai/ui/node_modules
prune acai/unsloth
