global-exclude *.pyc
global-exclude __pycache__

recursive-include acai *.json
recursive-include acai *.py
recursive-include acai *.j2

include LICENSE
include requirements.txt

exclude .readthedocs.yml
exclude tox.ini
exclude Makefile
exclude .pylintrc
exclude .pre-commit-config.yaml
exclude scripts/generate_cookie.sh

prune docs
prune tests
prune examples
prune acai/plugins
